@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;

}
body{
    background-color: hsl(212, 45%, 89%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: hsl(0, 0%, 100%);
    width: 320pt;
    padding: 1em;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    text-align: center;
    margin: 1em;
}
header img{
    width: 386px;
    max-width: 100%;
    margin-bottom: 1em;
    border-radius: 10px;
}
main{
    padding: 20px;
}
main>h2{
    color:hsl(218, 44%, 22%) ;
    font-weight: 700;
    margin-bottom: 1em;

}
main>p{
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    margin-bottom: 1em;
}
@media screen and (max-width:375px) {
    .container {
        margin: auto 28px;
    }
}
